@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.question {
  transition: box-shadow 0.3s;
}

.question:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

img.igg {
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
