@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eceff1;
}

::-webkit-scrollbar-thumb {
  background: #90a4ae;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78909c;
}
